@import "../../styles.css";

.text-input-dialog-root {
    -fx-pref-width: 400;
    -fx-pref-height: 200;
    -fx-background-color: -background;
}

.text-box {
    -fx-background-color: -secondary;
    -fx-border-radius: 0px;
}

.body-text {
    -fx-text-fill: -error;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}
