@import "../../theme.css";

.text-input-dialog-root {
    -fx-pref-width: 400;
    -fx-pref-height: 200;
    -fx-background-color: -background;
}

.submit-button {
    -fx-background-color: -primary;
    -fx-text-fill: -text;
    -fx-cursor: hand;
}

.text-box {
    -fx-background-color: #cacaca;
    -fx-border-radius: 0px;
}

.body-text {
    -fx-text-fill: -error;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}
