@import "../../styles.css";

.confirm-dialog-root {
    -fx-pref-width: 400;
    -fx-pref-height: 200;
    -fx-background-color: -background;
}

.body-text {
    -fx-text-fill: -error;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.button-wrapper {
    -fx-spacing: 5px;
}
