@import "../../theme.css";

.confirm-dialog-root {
    -fx-pref-width: 400;
    -fx-pref-height: 200;
    -fx-background-color: -raisin-black;
}

.confirm-button, .cancel-button {
    -fx-background-color: -liberty;
    -fx-text-fill: -alice-blue;
    -fx-cursor: hand;
}

.body-text {
    -fx-text-fill: -paradise-pink;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.button-wrapper {
    -fx-spacing: 5px;
}
