.track-background {
    -fx-fill: lightgray;
    -fx-fill-height: 100;
}

.track-foreground {
    -fx-fill: red;
    -fx-max-height: 15;
}

.track-box {
    -fx-max-height: 15;
}

.root {
    -fx-background-color: black;
}
