@import "../../theme.css";

.image {
    -fx-cursor: hand;
}

.text {
    -fx-alignment: center;
    -fx-text-overrun: center-ellipsis;
    -fx-max-width: 90px;
    -fx-wrap-text: false;
    -fx-content-display: center;
    -fx-padding: 5px 0 0 0;
}
