@import "../../theme.css";

.file-entry-container {
    -fx-cursor: hand;
}

.file-entry-container:hover {
    -fx-background-color: -background-accent;
}

.image {
    -fx-alignment: center;
}

.text {
    -fx-alignment: center;
    -fx-text-overrun: center-ellipsis;
    -fx-max-width: 90px;
    -fx-wrap-text: false;
    -fx-content-display: center;
    -fx-padding: 5px 0 0 0;
    -fx-max-height: 10;
}
