@import "../../theme.css";

.nav-bar {
    -fx-padding: 0 0 0 10px;
}

.folder-link {
    -fx-underline: true;
    -fx-text-fill: -primary;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 0 2px;
}

.selected {
    -fx-text-fill: -secondary;
    -fx-underline: true;
}
