@import "../../theme.css";


.add-file:hover {
    -fx-border-style: dashed;
    -fx-border-color: -primary;
}

.item-root {
    -fx-pref-width: 96px;
    -fx-pref-height: 96px;
    -fx-cursor: hand;
}
