@import "styles.css";

.frame {
    -fx-background-color: -background;
}

.item-root {
    -fx-pref-width: 96px;
    -fx-pref-height: 96px;
}

.item-row {
    -fx-min-height: 128px;
    -fx-padding: 20;
}
