@import "theme.css";

.search-button {
    -fx-background-color: -liberty;
    -fx-text-fill: -alice-blue;
    -fx-cursor: hand;
}

.frame {
    -fx-background-color: -raisin-black;
}

.search-bar {
    -fx-background-color: #cacaca;
    -fx-border-radius: 0px;
}

.item-root {
    -fx-pref-width: 96px;
    -fx-pref-height: 96px;
}

.item-row {
    -fx-min-height: 128px;
    -fx-padding: 20;
}
