* {
    -primary: #5B64B5;
    -primary-1: #495091;
    -primary-2: #373C6D;
    -secondary: #CACACA;
    -secondary-1: #A2A2A2;
    -secondary-2: #797979;
    -success: #06D6A0;
    -success-1: #05AB80;
    -success-2: #048060;
    -warning: #FFD166;
    -warning-1: #CCA752;
    -warning-2: #997D3D;
    -error: #EF476F;
    -error-1: #BF3959;
    -error-2: #8F2B43;
    -background: #201A23;
    -text: #E9F1F7;
}

.text {
    -fx-text-fill: -text;
}
