* {
    -liberty: #5B64B5;
    -paradise-pink: #EF476F;
    -orange-yellow-crayola: #FFD166;
    -caribbean-green: #06D6A0;
    -raisin-black: #201A23;
    -alice-blue: #E9F1F7;
}

.text {
    -fx-text-fill: -alice-blue;
}
